body {
    background-color: #1E1E1E;
    font-family: Inter;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1 {
    color: #FFCF00;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}
#header-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
h5, span {
    color: white;
}
#extra-time-div {
    display: flex;
    height: 20px;
    width: 100px;
    padding-top: 40px;
}
#time {
    font-size: 90px;
}
h5 {
    font-size: 20px;
    text-transform: uppercase;
}
#plus {
    height: 20px;
    border: none;        
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
img {
    width: 2%;
    height: 2%;
}
#left-side {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    gap: 10px;
    padding-left: 50px;
    padding-bottom: 180px;
}
#right-side {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    gap: 10px;
    padding-right: 50px;
    padding-bottom: 180px;
}
.sarga{
    background-color: #FFCF00;
    width: 0.5%;
    height: 500%;
    color:  #FFCF00;
    border-radius: 25%;
}

.piros{
    background-color: #FF0000;
    width: 0.5%;
    height: 500%;
    color: #FF0000;
    border-radius: 25%;
}

footer button{
    background-color: #FFCF00;
    color: black;
    font-weight: bolder;
    text-align: center;
    height: 50px;
    width: 75px;
}
button {
    background-color: #FFCF00;
    color: black;
    font-weight: bolder;
    text-align: center;
}
.team1{
    background-color: #FFCF00;
    font-size: 150%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
.team2{
    background-color: #FFCF00;
    font-size: 150%;
    text-align: center;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

h2{
    font-weight: bolder;
}

.golok{
    background-color: #FFCF00;
    font-size: 1000%;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
.base {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.goal-buttons {
    display: flex;
    gap: 100px;
}